.Form {
    display: grid;
    grid-template-columns: repeat(2,auto);
    padding: 2rem;
    position: relative;
    height: auto;
    height: 140vh;
}
.Form > div  {
   margin-bottom: 0rem;
}
.Form input ,  .Form select{
    padding: 0.5rem;
    width: 20rem;
    margin-top: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.Form input:focus {
    outline: none;
}
.Form  span {
    color: red;
}
#addDoc {
    position: absolute;
    left: 36%;
    bottom: 10%;
    width: 15%;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color:  #004054;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid #004054;
    border-radius: 0.4rem;
   
}
#addPat {
    
    position: absolute;
    left: 37.5%;
    top: 92%;
    right: 0;
    width: 15%;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color:  #004054;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid #004054;
    border-radius: 0.4rem;
   
}

@media (max-width: 910px){
    .Form {
        display: block;
        text-align: center;
    }
    #addDoc {
        width: 25%;
        
    }
    #addPat {
        width: 25%;
        top: 100%;
        
    }
    
}



