.Profile {
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.profile-card {
    width: 45%;
    height: auto;
    border: 1px solid #009197;
    background-color: #009197;
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.8);
    position: relative;
}
.profile-header {
    border: 1px solid #004054;
    border-radius: 2rem 2rem 0 0;
    background-color: #004054;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.profile-header img {
    max-width: 8rem;
    min-height: 2rem;
    border: 1px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
}
.profile-title {
    text-align: center;
    margin-top: 16%;
    color: white;
    margin-top: 4rem;
}
.profile-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 2rem;
}
.profile-info .main-info , .profile-info .second-info {
    color: white;
    font-size: 0.8rem;
    margin-right: 0.5rem;
} 

.profile-info p {
    margin-left: 0.2rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.del--mod {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
@media (max-width: 1000px) {
    .Profile {
        height: auto;
    }
    .profile-info {
        display: block;
        height: auto;
        padding-top: 2rem;
        text-align: center;
    }
    .profile-title {
        top: 35%;
        margin-top: 4rem;
    }
    .profile-card {
        width: 75%;
    }
}