.head {
    width: 100%;
    height: 3rem;
    background-color: #9FDAE7;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    
}
.head-operation {
    padding: 3rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    
}

.head-operation button {
    background-color:  #009197;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    cursor: pointer;
}
.head-operation input {
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.head-operation select {
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.head-operation label {
    margin-right: 0.5rem;
}
.head-operation div div {
    border: 1px solid grey;
    border-radius: 0.3rem;
}
@media (max-width: 750px){
    .head-operation {
        display: block;
    }
    .head-operation button ,  .head-operation input {
        margin-bottom: 2rem;
    }
    .head-operation div div {
        height: 2.3rem;
    }
} 