.NavbarSliderBackground {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #23232387;
    display: none;
}

.NavbarSlider {
    width: 60%;
    height: 100%;
    background-color: #004054;
}

.NavbarSlider .nav-head {
    padding: 1rem;
    text-align: right;
}

.NavbarSlider .nav-element {
    width: 23%;
    margin-top: 4rem;
    position: fixed;
    background-color: rgba(235, 235, 235, 0.2);
}

.NavbarSlider .nav-element ul li {
    padding: 1rem;
    border-bottom: 1px solid rgba(235, 235, 235, 0.5);
    cursor: pointer;
    list-style: none;
}

.NavbarSlider .nav-link {
    text-decoration: none;
    color: rgba(230, 230, 230, 0.8);
}
@media (min-width: 750px){
    .NavbarSliderBackground {
        z-index: -3;
    }
}