.Patient-card {
    width: 28rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    height: auto;
    margin-bottom: 2rem;
}
.Patient-card .card-header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004054;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid white;
    color: white;
    position: relative;
}
.Patient-card  .del-mod {
    position: absolute;
    top: -0.5rem;
    right: 0rem;
}
.Patient-card .card-content {
    width: 100%;
}
.Patient-card .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Patient-card p {
    display: inline-block;
}
.Patient-card .main-content .card-info {
    width: 80%;
}
.Patient-card label {
    color: #004054;
    margin-right: 0.5rem;
    font-weight: bold;
    display: inline-block;
    width: 3.5rem;
    font-size: 0.9rem;
}
.Patient-card .second-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0.2rem;
}
.Patient-card .second-content .device-info{
    flex-basis: 50%;
}
.Patient-card .second-content label {
    width: 4.5rem;
}
.Patient-card .second-content label , .Patient-card .second-content p {
    font-size: 0.9rem;
}
.Patient-card .second-content .phy-info label {
    width: 3.5rem;
}
#doc-id {
    cursor: pointer;
}
#doc-id:hover {
    color: #004054;   
}
#go-profile {
    cursor: pointer;
}
#go-profile:hover {
    color: #004054;  
    font-size: 1.1rem;  
}