.stats-content {
    width: 100%;
}
  
  .stats {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(235, 235, 235);
  }
  
  .stats-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 10rem;
    height: 6rem;
    background-color: white;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    color: rgb(116, 114, 114);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .stats-card div {
    width: 8rem;
  }
  
  .stats-card p {
    color: #73bdce;
    font-weight: bold;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
  }
  
  .stats-card h5 {
    color: #004054;
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
  }
  
  @media screen and (max-width: 1050px) {
    .stats {
      width: 100%;
    }
    .chart-legend {
        display: block;
    }
    
  }
  
 