.Inputs-range {
    width: 100%;
    height: auto;
    min-height: 115vh;
    padding: 2rem;
    background-color: #9FDAE7;
}
.Inputs-range label {
    display: inline-block;
    width: 12rem;
}
.Inputs-range input {
    width: 15rem;
    padding: 0.5rem;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.Inputs-range input:focus {
    outline: none;
}
.Inputs-range div {
    margin-bottom: 1rem;
}
.show-range {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}
.list-range {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    padding: 1rem;
    position: relative;
    margin-top: 5rem;
}
.list-range div {
    height: 3rem;
    width: 10rem;
    /* border: 1px solid rgb(196, 194, 194); */
}
.label-range {
    display: flex;
    justify-content: space-between;
    width: 66%;
    position: absolute;
    top: -20rem;
    
}
/* .label-range label:not(:first-child) {
    margin-left: 20%;
} */

.hypoglycemie {
    background-color: yellow;
}
.normal {
    background-color: green;
}
.pre-diabete {
    background-color: orange;
}
.hyperglycemie {
    background-color: red;
}
.flesh-left , .flesh-right {
    background-color: gray;
    max-width: 5rem;
    border: 1px solid;
    
}
.flesh-left {
    border-radius: 5rem 0 0 5rem;
}
.flesh-right {
    border-radius: 0 5rem 5rem 0;
}
@media (max-width: 1250px) {
    .list-range div {
        height: 3rem;
        width: 4rem;
        
    }
    .label-range {
        display: flex;
        justify-content: space-between;
        width: 34%;
        position: absolute;
        top: -20rem;
        left: 33%;
    }
}
@media (max-width: 900px) {
    .list-range div {
        height: 3rem;
        width: 4rem;
        
    }
    .label-range {
        display: flex;
        justify-content: space-between;
        width: 30%;
        position: absolute;
        top: -20rem;
        left: 35%;

        
    }
    /* .label-range label:not(:first-child) {
        margin-left: 4rem;
    } */
}

@media (max-width: 750px) {
    .label-range {
        display: flex;
        justify-content: space-between;
        width: 35%;
        position: absolute;
        top: -20rem;
        left: 33%;

        
    }
    /* .label-range label:not(:first-child) {
        margin-left: 4rem;
    } */
}